.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("https://images.pexels.com/photos/17180127/pexels-photo-17180127/free-photo-of-clouds-over-mountains-in-winter.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: forestgreen;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginForm > label{
    margin: 10px 0;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: forestgreen;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: slateblue;
    cursor: pointer;
    border: none;
    padding: 10px;color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}