.register{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url("https://images.pexels.com/photos/5745754/pexels-photo-5745754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerTitle{
    font-size: 50px;
    color: slateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerForm > label{
    margin: 10px 0;
    color: gray;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: slateblue;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: forestgreen;
    cursor: pointer;
    border: none;
    padding: 10px;color: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}